@media screen and (min-width: 800px) {
	.mapboxgl-ctrl-group,
	.wfLogo,
	.logos-foot {
		display: none
	}
	.w320-ml {
		width: 320px!important
	}
}

@media screen and (max-width: 799px) {
	.logos {
		display: none
	}
}

.sidebar {
	overflow-x: hidden;
    overflow-y: auto;
    /*-webkit-overflow-scrolling: touch;*/
    line-height: 14px;
}

.logos,
.logos-foot {
	margin-left: auto;
	margin-right: auto
}

.logos * img,
.logos-foot * img {
	opacity: 0.5;
	cursor: pointer;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.logos * img:hover,
.logos-foot * img:hover {
	opacity: 0.85;
}


.logos-foot > * img {
	max-width: 28%;
	height: 100%
}


.wfLogoMain {
	height: 80px;
	width: 60px;
	margin-top: 20px;
	opacity: 0.75;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}


.wfLogoMain:hover {
	opacity: 1.0
}


/*Slider styles*/

.ui-slider {
	background: rgba(224, 224, 224, 0.7);
	margin-left: 10px;
	margin-right: 10px;
	height: 4px;
	border: none;
}

.ui-slider-range {
	background: #448ee4!important;

}

.ui-slider-handle {
	background: #448ee4!important;
	letter-spacing: 0px;
	border-radius: 50%;
	cursor: pointer!important;
	border: 2px solid white !important;
}

.ui-slider .ui-slider-handle {
	width: 12px;
	height: 12px;
	ms-touch-action: none;
	padding: 6px;
	top: -6px;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -.4em;
}

.ui-slider-handle:focus {
	outline: none
}



.slideFilt {
	opacity: 1;
	pointer-events: auto
}

.slideFilt.inactive {
	opacity: 0.25;
	pointer-events: none
}



#mouseCoord {
	position: absolute;
	left: 50%;
	margin-left: -80px;
	bottom: 5px;
	z-index: 2;
	color: white;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(0, 0, 0, 0.3);
}



/*fault legend*/

.faultShape {
	left: -50px;
	height: 50px;
	width: 100px;
	color: hsla(338, 95%, 52%, 0.68);
	border-bottom: 2px;
	border-left: 2px solid red;
	-moz-transform: skew(45deg);
	/*-webkit-transform: skew(45deg);*/
	transform: skew(45deg);
}

